<li class="nav-item" role="presentation">
      <a class="nav-link" type="button" id="<%=tabName%>-tab" data-tab="<%=tabName%>" data-bs-toggle="tab" data-bs-target="#<%=tabName%>-tab-pane" role="tab" aria-controls="<%=tabName%>-tab-pane" aria-selected="true">

      <%-include('../LucideIcons/Icons', {name: icon})%>
      <%=modulo%>
    </a>
</li>