<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column" id="myTab" role="tablist">

        <li class="nav-item"></li>
            <a class="nav-link nav-used actived" type="button" data-tab="Dashboard">

              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
        </li>

        <%-include('Item', {
          modulo:'Atendimento', 
          icon:'hand-platter',
          tabName:'Atendimento'
        })%>
        <%-include('Item', {
          modulo:'Criativo', 
          icon:'palette',
          tabName:'Criativo'
        })%>
        <%-include('Item', {
          modulo:'Relatórios', 
          icon:'chart-no-axes-combined',
          tabName:'Relatorios'
        })%>
        <%-include('Item', {
          modulo:'Cadastros', 
          icon:'sliders-vertical',
          tabName:'Cadastros'
        })%>
        <%-include('Item', {
          modulo:'Configurações', 
          icon:'settings',
          tabName:'Configuracoes'
        })%>
      </ul>
      <%-include('Divider')%>
    </div>
</nav>