<div class="container mt-3 mx-0">
    <h3>Cadastro de Núcleos</h3>
    <%-include('../Tables/Nucleos')%>
    <%-include('../Buttons/Nucleos')%>
    <%-include('../Modals/Nucleos')%>    
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Clientes</h3>    
    <%-include('../Tables/Clientes')%>
    <%-include('../Buttons/Clientes')%>
    <%-include('../Modals/Clientes')%>    
</div>