<div class="container mt-3 mx-0">
    <h3>Cadastro de Cargos</h3>    
    <%-include('../Tables/Cargos')%>
    <%-include('../Buttons/Cargos')%>
    <%-include('../Modals/Cargos')%>  
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Habilidades</h3>    
    <%-include('../Tables/Habilidades')%>
    <%-include('../Buttons/Habilidades')%>
    <%-include('../Modals/Habilidades')%>  
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Funcionários</h3>    
    <%-include('../Tables/Funcionarios')%>
    <%-include('../Buttons/Funcionarios')%>
    <%-include('../Modals/Funcionarios')%>    
</div>