<div class="container mt-3 mx-0">
    <h3>Cadastro de Tarefa</h3>
    <%-include('../Tables/Tarefas')%>    
    <%-include('../Buttons/Tarefas')%>
    <%-include('../Modals/Tarefas')%>    
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Tipo de Tarefa</h3>    
    <%-include('../Tables/Tipo_Tarefas')%>
    <%-include('../Buttons/Tipo_Tarefas')%>
    <%-include('../Modals/Tipo_Tarefas')%>    
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Categoria de Tarefa</h3>    
    <%-include('../Tables/Categoria_Tarefas')%>
    <%-include('../Buttons/Categoria_Tarefas')%>
    <%-include('../Modals/Categoria_Tarefas')%>    
</div>
<hr>
<div class="container mt-3 mx-0">
    <h3>Cadastro de Prioridade de Tarefa</h3>    
    <%-include('../Tables/Prioridade_Tarefas')%>
    <%-include('../Buttons/Prioridade_Tarefas')%>
    <%-include('../Modals/Prioridade_Tarefas')%>    
</div>
