<div id="DashboardContent">
    <%-include('../Content/Dashboard')%>
</div>
<div id="AtendimentoContent" style="display:none;">
    <%-include('../Content/Atendimento')%>
</div>
<div id="CriativoContent" style="display:none;">
    <%-include('../Content/Criativo')%>
</div>
<div id="RelatoriosContent" style="display:none;">
    <%-include('../Content/Relatorio')%>
</div>
<div id="CadastrosContent" style="display:none;">
    <%-include('../Content/Cadastro')%>
</div>
<div id="ConfiguracoesContent" style="display:none;">
    <%-include('../Content/Configuracao')%>
</div>