<table id="atendimentoTable" class="display table border" style="width:100%">
        <thead>
            <tr>
                <th>Entrega</th>
                <th>Tarefa</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Tempo</th>
                <th>Prioridade</th>
                <th>Criativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>30/05/2025 10:30</td>
                <td>Alteração Outubro Rosa</td>
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>Cerradinho Energia</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary" style="width: 50%">15min</div>
                    </div>
                </td>
                <td><span class="badge text-bg-info">Baixa</span></td>
                <td>Manoel - Laene</td>
                <td><%-include('../Buttons/GroupAcoesExecucao')%></td>
            </tr>
            <tr>
                <td>30/05/2025 10:30</td>
                <td>Alteração Outubro Rosa</td>
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>Cerradinho Energia</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary" style="width: 50%">15min</div>
                    </div>
                </td>
                <td><span class="badge text-bg-warning">Média</span></td>
                <td>Manoel - Laene</td>
                <td><%-include('../Buttons/GroupAcoesExecucao')%></td>
            </tr>
            <tr>
                <td>30/05/2025 10:30</td>
                <td>Alteração Outubro Rosa</td>
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>Cerradinho Energia</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary" style="width: 50%">15min</div>
                    </div>
                </td>
                <td><span class="badge text-bg-danger">Alta</span></td>
                <td>Manoel - Laene</td>
                <td><%-include('../Buttons/GroupAcoesExecucao')%></td>
            </tr>
            
            <!-- <tr>
                <td>Maria</td>
                <td>Núcleo B</td>
                <td>Criativo</td>
                <td><span class="badge text-bg-success">Ativo</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
            <tr>
                <td>Joana</td>
                <td>Núcleo C</td>
                <td>Coorporativo</td>
                <td><span class="badge text-bg-success">Ativo</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr>
            <tr>
                <td>Craúdio</td>
                <td>Núcleo C</td>
                <td>Inbound</td>
                <td><span class="badge text-bg-danger">Desativado</span></td>
                <td><%-include('../Buttons/GroupAcoesFuncionarios')%></td>
            </tr> -->
        </tbody>
        <tfoot>
            <tr>
                <th>Entrega</th>
                <th>Tarefa</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Tempo</th>
                <th>Status</th>
                <th>Criativo </th>
                <th>Ações</th>
            </tr>
        </tfoot>
</table>