<div class="table-responsive-xxl">
    <table class="table display border">
        <thead>
            <tr>
                <th>Data e hora</th>
                <th>Atendente</th>
                <th>Cliente</th>                        
                <th>Tarefa</th>
                <th>Categoria</th>
                <th>Tipo</th>            
                <th>Tempo</th>            
                <th>Prazo</th>
                <th style="min-width: 230px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-danger text-light">
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 95%">55min</div>
                    </div>
                </td>
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            <tr class="table-danger">
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 75%">45min</div>
                    </div>
                </td>
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            <tr class="table-warning">
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 65%">35min</div>
                    </div>
                </td>
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            <tr class="table-success">
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">15min</div>
                    </div>
                </td>
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            <tr class="table-primary">
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-primary" style="width: 50%">15min</div>
                    </div>
                </td>
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            <tr>
                <td>30/05/2025 10:30</td>
                <td>Atendente 1</td>
                <td>Cerradinho Energia</td>
                <td>Alteração Outubro Rosa</td> 
                <td>Criação</td>
                <td>Identidade Visual</td>
                <td><span class="badge text-bg-secondary">Não Atribuído</span></td> 
                <td>Até 12:00</td>
                <td><%-include('../Buttons/GroupAcoesCriativo')%></td>
            </tr>
            
        </tbody>
        <tfoot>
            <tr>
                <th>Data e hora</th>
                <th>Atendente</th>
                <th>Cliente</th>                        
                <th>Job</th>
                <th>Categoria</th>
                <th>Tipo</th>              
                <th>Prazo</th>
                <th>Tempo</th>
                <th>Ações</th>
            </tr>
        </tfoot>
    </table>
</div>